.text-shadow{
    text-shadow: 2px 2px 10px #000;
}
.text-shadow-blue{
    text-shadow: 2px 2px 10px #0693e3;
}
.bg-blue{
    background-color: #0693e3;
}
.text-blue{
    color: #0693e3;
}
.img-icon-static{
    width: 128px;
    height: 128px;
    background: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-icon{
    width: 128px;
    height: 128px;
    background: no-repeat;
    background-position: top;
}
.img-icon-sm{
    width: 64px;
    height: 64px;
    background: no-repeat;
    background-position: top;
    background-size: cover;
}
.img-icon:hover, .img-icon-sm:hover{
    background-position: bottom;
}
.bell{
    background-image: url('../src/icons/bell.png');
}
.breakfast{
    background-image: url('../src/icons/breakfast.png');
}
.dinner{
    background-image: url('../src/icons/dinner.png');
}
.food{
    background-image: url('../src/icons/food.png');
}
.lonchera{
    background-image: url('../src/icons/adelanta-cuaderno.png');
}
.tardeo{
    background-image: url('../src/icons/recarga_baterias.png');
}
.bar{
    background-image: url('../src/icons/buen_encuentro.png');
}
.fas{
    transition: .5s;
}
.rotate{
    transform: rotate(90deg);
}
.h4, .h5, .h6{
    display: none;
}